@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: center; */
  /* min-height: 100vh; */
  /* margin: 0; */
  font-family: 'Lato', sans-serif;
  background-color: aquamarine;
  height: 100vh;

}
.general{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  /* justify-content: center; */
  padding: 15%;
}
.general h2{
  margin-top: 70px ;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pagepad{
  margin-top: 45px ;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.calculator{

  width: 100%;
  min-width: 400px ;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}
.display{
  padding: 16px;
  text-align: center;
  background-color: rgb(146, 172, 32);
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}
.display span{
  font-size: 14px;
  color: #888;
}
.calculator button{
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  transition: 0.4s;
}
.calculator button:hover{
  opacity: 0.9;

}
.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: #d010d6;
  font-weight: 700;
}

.digits {
  display: flex;
  flex-wrap: wrap ;
}

.digits button{
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color:rgb(146, 172, 32);
}

.nav {
  position: fixed;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(45, 46, 73, 0.5);
  color: #fff;
  width: 100%;
  top: 0;


}
:Link{
text-decoration: none;
color: white;
}
.navp {
  margin: 5px;
  padding: 15px;
  text-decoration: none;
  color: #fff;

}

.navp:hover{
  color: #2ecc71;
  cursor: pointer;
  background-color: whitesmoke;
  padding: 20px;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(45, 46, 73, 0.5);
  color: #fff;
  width: 100%;
  bottom: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */

}


.container {
  margin: 30px auto;
  width: 350px;

}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;

}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
